<!DOCTYPE html>
<html ng-app='myapp'>
  <head>
    <meta charset="utf-8">
    <title>Ice Cream App</title>
    <!-- angular -->
    <script src="http://code.angularjs.org/1.4.3/angular.js"></script>
    <!-- angular routes -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <!-- local files -->
    <script src="js/angular/icecreams/app.js"></script>
    <script src="js/angular/icecreams/config.route.js"></script>
    <script src="js/angular/icecreams/icecreamsController.js"></script>
     <script src="js/angular/icecreams/icecreamController.js"></script>
    <script src="js/angular/icecreams/iceCreamFactory.js"></script>
    <script src="js/angular/icecreams/singleIceCreamFactory.js"></script>
    <!-- utf8 -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <base href='/'>
  </head>

  <body>
    <div ng-view></div>
  </body>

</html>
